* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul>li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.hero {
    background: url(../img/content/burger.jfif) no-repeat center/cover;
    height: 100vh;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {}

.logo__img {}

.nav {}

.nav__list {}

.nav__item {}

.nav__link {}

.btn {}

.content {}

.hero__main {}

.hero__headline {}

.title {}

.hero__desc {}

.hero__content {}